# Source
src/
__tests__/
examples/

# Development configs
.eslintrc.yml
.prettierrc
jest.config.js
tsconfig.json

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# TypeScript cache
*.tsbuildinfo

# Coverage directory
coverage/

# Misc
.DS_Store
